* {
    font-family: "Comic Sans MS", fantasy;
    font-weight: bold;
}

.container {
    width: 500px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: #ddd;
}

.li {
    display: flex;
    justify-content: space-between;
}

.li-active {
    text-decoration: line-through;
    color: rgba(44, 44, 44, 0.48);
}

#btn {
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    background-color: #ddd;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid rgba(160, 160, 160, 0.90);
    border-radius: 3px;
}