<app-top-bar></app-top-bar>


<div class="filter">
  <label>Filter by category:</label>
  <select [(ngModel)]="selectedCategory" (change)="filterCards(selectedCategory)">
    <option value="">All</option>
    <option value="Technique">Technique</option>
    <option value="Clothing">Clothing</option>
    <option value="Products">Products</option>
    <option value="Etc">Etc</option>
  </select>
</div>

<div class="container">
  <div class="card-container"><app-card *ngFor="let card of cards" [card]="card"></app-card></div>
</div>
