* {
  /*font-family: AkayaTelivigala;*/
  color: #616161;
  box-sizing: border-box;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
  margin: 30px;
}

a:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}



