<app-top-bar></app-top-bar>

<main>
  <section id="about">
    <h1>About us</h1>
    <p><strong>Our company has been selling high-quality and reliable products for many years. We are proud to be able to offer our customers a wide range of high quality products.<br>

      Our company takes care of every customer and always tries to offer the optimal solution for their needs. We work only with trusted manufacturers and suppliers so that our customers can be confident that they receive high-quality products.<br>

      Our team consists of experienced specialists who are always ready to help our customers with any questions related to products. We understand that each client is unique and has their own needs, so we are ready to offer an individual approach for each of them.<br>

      We strive to provide our customers not only with high quality products, but also excellent service. We make sure that our customers receive their orders on time and without delay. We also provide a guarantee for all our products so that our customers can be sure of their quality and reliability.<br>

      Be sure that by choosing our company, you will get an excellent product and professional service. We value each of our clients and are always happy to help you at any time.<br></strong></p>
  </section>
  <section id="team">
    <h2>Our Team</h2>
    <ul>
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg/500px-Mark_Zuckerberg_F8_2019_Keynote_%2832830578717%29_%28cropped%29.jpg" width="200"  alt="Person 2">
        <h3>Mark Zuckerberg</h3>
        <p>Designer</p>
      </li>
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Visit_of_Bill_Gates%2C_Chairman_of_Breakthrough_Energy_Ventures%2C_to_the_European_Commission_5_%28cropped%29.jpg/534px-Visit_of_Bill_Gates%2C_Chairman_of_Breakthrough_Energy_Ventures%2C_to_the_European_Commission_5_%28cropped%29.jpg" width="200" alt="Person 1">
        <h3>William Gates III</h3>
        <p>Teller</p>
      </li>
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/440px-Elon_Musk_Royal_Society_%28crop2%29.jpg" width="200"  alt="Person 3">
        <h3>Elon Musk</h3>
        <p>Cleaner</p>
      </li>
    </ul>
  </section>
</main>
<footer>
  <p>&copy; 2023 "My Store". All rights not reserved.</p>
</footer>
