h1 {
  text-align: center;
}
.time{
  color: white;
  font-weight: bold;
}

.top-bar {
  width: 100%;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  justify-content: center;
}


.top-bar h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
}
