* {
  font-family: AkayaTelivigala;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container {
  border: 1px solid black;
}

.top-bar {
  width: 100%;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  justify-content: center;
}


.top-bar h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 10px;
}
