body {
    background-color: #F5F5F5;
}

.block{
    position: absolute;
}
.box{
    display: flex;
    flex-direction: row;
}

.photo {
    position: relative;
    margin-left: 17%;
    margin-top: 1%;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-left: 10%;
}

.container img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.container2 {
    text-align: center;
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
}
.images {
    display: flex;
    flex-direction: row ;
    margin-right: 40%;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    width: 270px;
    height: 400px;
}

.container #form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    width: 353px;
    height: 70px;
    margin-top: 8px;
}

.container input[type="text"], .container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.container input[type="submit"] {
    width: 110%;
    padding: 8px;
    font-size: 20px;
    background-color: rgba(56, 151, 240, 0.92);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container #or {
    box-sizing: content-box;
    display: block;
    line-height: 18px;
    position: relative;
    color: rgba(44, 44, 44, 0.58);
    font-size: 18px;
}

.container p {
    margin-top: 20px;
    font-size: 17px;
}

.container a {
    color: #3897f0;
    text-decoration: none;
}
