body {
    background-color: #F5F5F5;
    font-family: Arial;
}

.block{
    position: absolute;
}
.box{
    display: flex;
    flex-direction: row;
}

.photo {
    position: relative;
    margin-left: 40%;
    margin-top: 4%;
    margin-right: -10%;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-left: 10%;
}

.container img {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
}

.container2 {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.images {
    display: flex;
    flex-direction: row ;
    margin-right: 40%;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    width: 245px;
    height: 300px;
    line-height: 5px;
}

.container #form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    width: 327px;
    height: 70px;
    margin-top: 8px;
    line-height: 20px;
}

#form2 p {
    font-size: 14px;
}

.container input[type="text"], .container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    background-color: #F5F5F5;
}

.container input[type="submit"] {
    width: 108%;
    padding: 8px;
    font-size: 16px;
    background-color: #47afff;;
    color: white;
    border: none;
    border-radius: 10px;
}

#or {
    color: rgba(44, 44, 44, 0.58);
    font-size: 15px;
}

#facebookinput {
    color: #385185;
    font-size: 16px;
}

#forgotpasswd {
    color: #385185;
    font-size: 14px;
}

.container p {
    margin-top: 20px;
    font-size: 17px;
}

.container2 p {
    font-size: 14px;
}

.container a {
    color: #3897f0;
    text-decoration: none;
}