<div class="container">
  <h1>App from the Kaspi store</h1>
  <app-card [card]="cards[0]"></app-card>
  <app-card [card]="cards[1]"></app-card>
<!--  <app-card [card]="cards[2]"></app-card>-->
<!--  <app-card [card]="cards[3]"></app-card>-->
<!--  <app-card [card]="cards[4]"></app-card>-->
<!--  <app-card [card]="cards[5]"></app-card>-->
<!--  <app-card [card]="cards[6]"></app-card>-->
<!--  <app-card [card]="cards[7]"></app-card>-->
<!--  <app-card [card]="cards[8]"></app-card>-->
<!--  <app-card [card]="cards[9]"></app-card>-->
<!--  <app-card [card]="cards[10]"></app-card>-->
</div>
