.card {
  padding: .5rem 1rem;
  border: 1px groove gray;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: .5rem;;
}

button {
  background-color: rgba(72, 61, 139, 0.62);
  padding: 11px;
  border-radius: 10px;
}

button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(100, 149, 237, 0.93);
}

.share-button {
}

